<!DOCTYPE html>
<html>
<head>
  <title>MeetupsInSpaceRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<ul id="nav">
  <li>
    <%= link_to "Add a Meetup", new_meetup_path %>
  </li>
</ul>

<%= yield %>

</body>
</html>
